body h1 ,h2  {
  font-family: Rufina;
letter-spacing: 0.5px;
}

.homepage{
  height: 600px;
 
}

.bg-image{
   height: 600px;
   max-width:100% ;
   background-image: url(../Images/homepage.png);
   background-size: cover; 
 
}

.heading_1{
   color: #ffffff;
   /* font: Rufina; */
   font-size: 42px;
   /* height: 100px; */
   width: 640px;
   align-items: center;
   justify-content: center;
   margin-left: 28%;
   margin-right: 27%;
   margin-top: 80px;


}
.Descrption_1{
   background-color: #DAD6C4;
   text-align: center;
   justify-content: center; 
   margin-inline-start: 28.5%;
   color: rgb(83, 92, 92);
   height: 30px;
   border-radius: 5px;
   width: 630px;
   margin-top: -50px;
   /* font-size: 15px; */
   font-family: Raleway;
font-size: 22.89px;
font-weight: 500;
line-height: 29.22px;
letter-spacing: 0.12em;
text-align: center;

}

.home{
   justify-content: center;
   align-items: center;
   
}

.form{
   display: flex;
   height: 60px;
   font-size: 25px;
   background-color: #DAD6C4;
   width: 700px;
   border-radius: 5px;
   justify-content: center; 
   margin-top: 60px;
   margin-inline-start: 26%;
}

.select_item{
   margin-top: 5px;
   margin-left: 1px;
   border-color: transparent;
}


/* ////////////////////////////////////////////////////// */
.section_2{
    height: 600px;
    background-color: #F5F3F1;
    margin-top: -10;
    }
  .cards{
    display: flex;
    justify-content: center;
  }
.card{
  
   width: 382px;
   height: 306px;
} 

.pricebox{
  position: relative;
}
.price{
  position: absolute;
  background-color: #F5E9D6;
  bottom: 230px;
  width: 130px;
  height: 20px;
  padding: 5px;
  border-radius: 5px 5px 15px 5px;
  font-size: 15px;
  left: 20px;
}

.heart{
  position: absolute;
  bottom: 237px;
  width: 20px;
  height: 20px;
  border-radius: 5px 5px 15px 5px;
  left: 260px;
}

.location_2{
  display: flex;
  margin-inline-start: 20px;
  
}
.imgvilla{
  border-radius: 5px;
}
.white_box{
  width: 302px;
  border-radius: 10px;
 }

.card_des_2{
display: flex;
margin-inline-start: 20px;
}

.card_des_box{
  background-color: rgb(255, 255, 255);
  display: flex;
 padding: 5px;
 
}
/* ////////////////////////////////////////////////////////////////////// */
.regions{
    height: 650px;
    background-color: #C9BDAB;
    border-radius: 0px 0px 80px 0px;
  }

  .region1{
    margin-inline-start: 20px;
    margin-top: 30px;
    
    border-radius:5px 80px 5px 80px ;
    position: relative;
  }

.relative {
    position: relative;
  } 
  
  .absolute {
    position: absolute;
    bottom: 80px;
    color: white;
    font-size: 40px;
  left: 80px;
  }
  .absolute1 {
    position: absolute;
    bottom: 40px;
    color: white;
    font-size: 20px;
  left: 90px;
  }


  /* ////////////////////////////////////////////////////////////////////////////////// */

  .page5{
    background-image: url('/src/Images/page5bg.png');
    height: 600px;
    background-size: cover; 
  }

  .container5{
    background-color: aliceblue;
    border-radius: 60px 4px 60px 4px;
    width: 500px;
    height: 400px;
    align-content: center;
    margin-inline-start: 35%;
    margin-top: 50px;
    
    
  }

  .contain5{
    text-align: center;
  }

/* /////////////////////////////////////////////////////////////// */



.page7{
    background-image: url('/src/Images/page7bg.png');
   height: 500px;
    background-size: cover; 
    border-radius: 50px;
    
    margin-top: 0;
}
.About6{
    display: flex;
    margin-inline-start: 150px;
    margin-top: 100px;
    height: 300px;
}

.connect{
   
    color: #ffffff;
    margin-inline-start: 150px;
    width: 1000px;
    height: 306px;
    display: flex;
    justify-content: center;
    margin-top: 300px;
    
}
.forminputhome{
    border: none ;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    margin-inline-start:10px;
    margin-top: 30px;
    width: 200px;
    text-decoration: none;
}
  